body {
  font-family: "Bellota", cursive;
}

h1 {
  text-align: left;
  display: inline;
  font-family: "Notable", sans-serif;
}
h4,
h2 {
  display: inline;
  text-align: left;
  font-size: 25px;
  font-family: "Notable", sans-serif;
}

ul {
  float: right;
  padding-left: 400px;
  text-align: center;
  padding-right: 0px;
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}

a {
  font-size: 10px;
  text-align: right;
  color: white;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
}

#emojiWeather {
  position: absolute;
  font-size: 10px;
  margin: 0 auto;
}

#weatherDescription {
  display: inline;
  padding-left: 100px;
  font-size: 18px;
  font-weight: 100px;
  line-height: 19px;
}

#sixdays {
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}

a:hover {
  color: rgb(8, 22, 83);
}

.owner {
  font-size: 15px;
  color: #009efd;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

#humidityElement,
#windElement {
  display: inline;
  font-weight: bold;
  font-size: 15px;
}

form {
  text-align: center;
}
.col-sm {
  display: inline-block;
  text-align: center;
  padding: 15px;
}

#imageForecast {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
